/C/file-roller.xml
/C/legal.xml
/bg/bg.po
/bg/file-roller.xml
/ca/ca.po
/ca/file-roller.xml
/cs/cs.po
/cs/file-roller.xml
/de/de.po
/de/file-roller.xml
/el/el.po
/el/file-roller.xml
/en_GB/en_GB.po
/en_GB/file-roller.xml
/es/es.po
/es/file-roller.xml
/fi/fi.po
/fi/file-roller.xml
/file-roller-C.omf
/file-roller-bg.omf
/file-roller-ca.omf
/file-roller-cs.omf
/file-roller-de.omf
/file-roller-el.omf
/file-roller-en_GB.omf
/file-roller-es.omf
/file-roller-fi.omf
/file-roller-fr.omf
/file-roller-it.omf
/file-roller-nl.omf
/file-roller-oc.omf
/file-roller-ru.omf
/file-roller-sv.omf
/file-roller-uk.omf
/file-roller-vi.omf
/file-roller-zh_CN.omf
/fr/file-roller.xml
/fr/fr.po
/it/file-roller.xml
/it/it.po
/nl/file-roller.xml
/nl/nl.po
/oc/file-roller.xml
/oc/oc.po
/ru/file-roller.xml
/ru/ru.po
/sv/file-roller.xml
/sv/sv.po
/uk/file-roller.xml
/uk/uk.po
/vi/file-roller.xml
/vi/vi.po
/zh_CN/file-roller.xml
/zh_CN/zh_CN.po
