/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/file-roller
/fr-enum-types.c
/fr-enum-types.h
/fr-marshal.c
/fr-marshal.h
/so_locations
/tags
